
html {
    margin-left:10vw;
    margin-right:10vw;
}

body { color:#35b2ff;
       font-family:"Futura";
       text-align: left;
       margin-left:5%;
}

.list-title {
    margin-left:-5vw;
    font-size: 120%}

.medium-image { 
    max-height: 100vw;
    max-width:  50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.small-image {
    max-height: 50vw;
    max-width:  50vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
    

.header {
    margin-top: 3vh;
    margin-bottom:3vh;
    font-size: 3.5vw;
}

.html {
    background-color: antiquewhite;
}

a, a:visited {
    color:deeppink;
    text-decoration: none;
    
}

a:hover {
    color:magenta;
    text-decoration: none;
}

.main-body {
    margin-left:5vw;
    max-width: 75vw;
    text-align:left;
}

.icon {
    font-size: 4vw;
    vertical-align:text-top;
}

h2 {
    margin-left: -2vw;
}

.footer {
    padding-bottom: 3vh;
    justify-content: center;
    align-content: center;
}

strong {
    color: mediumpurple;
}

.center-align {
    text-align: center;
}

.center-object {
    align-content: center;
}